<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .flash-message {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9999;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: 500;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }


    .flash-success {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #4caf50;
      color: #fff;
    }

    .flash-error {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f44336;
      color: #fff;
    }
    .main-content {
    background-color: #D2D2D2;
    }
    .main-header {
        background: #25283B;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        height: 82px;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-container {
        max-width: 1440px;
        margin-top: 10px;
        margin-left: 20px;
        padding: 0 2rem;
    }

    /* Search Bar Transitions */
    input::placeholder {
        transition: opacity 0.2s ease;
    }

    input:focus::placeholder {
        opacity: 0.5;
    }
    

    /* Main Content */
    .main-content {
        margin-left: 300px;
        padding: 6rem 2rem 2rem;
        transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* Product Grid */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1.5rem;
    }
    .a{
      background-color: #25283B;
    }
    .b{
      background-color: #25283B;
      margin-left: 1100px;
    }


    .brand, a{
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
    }
    body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
    }
    main {
      
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      flex: 1;
      padding: 20px;
      background-color: #f4f7fa;
      min-height: 100vh;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .users-section {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      width: 65%;
      background-color: #c3d5f4;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba;
      max-height: 100vh;
      overflow: hidden;
      margin-top: 100px;
    }

    .price-breakdown {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      width: 30%;
      background-color: #fff;
      padding: 30px;
      border-radius: 14px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-top: 100px;
    }
    .users-table{
      border: 2px;
      border-radius: 8px;
      box-shadow:rgba(0, 0, 0, 0.8);
    }

    .users-table table, .price-breakdown table {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      width: 100%;
      border-collapse: collapse;
    }

    .users-table th, .users-table td, .price-breakdown th, .price-breakdown td {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      padding: 12px;
      text-align: left;
      font-size: 14px;
      color: #555;
      border-bottom: 1px solid #ddd;
    }

    .users-table th, .price-breakdown th {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      background-color: #f5f5f5;
      font-weight: bold;
    }

    .users-table img {
      font-family: 'Helvetica', 'Arial', sans-serif;
      background-color: #f9f9f9;
      max-height: 120px;
      max-width: 100%;
      object-fit: contain;
      background: none;
    }
    h1{
      text-align: center;
    }
  </style>
</head>

<body>
  <header class="main-header">
    <nav class="nav-container">
      <div class="flex items-center justify-between h-16 gap-100">
        <div class="flex items-center gap-12 flex-shrink-0">
          <h1 style="color: white; font-weight: bold; font-size: 2.5rem; margin-left: 40px;">NEXON</h1>
          <div class="nav-links hidden lg:flex items-center gap-6">
            <a class="b" style="color: white;" href="/shop" class="hover:underline">Home</a>
            <a class="a" style="color: white;" href="/orders" class="hover:underline">orders</a>
            
            <a class="a" style="color: white;" href="/account" class="hover:underline">My account</a>
          </div>
        </div>
        <div class="flex-1 max-w-2xl mx-4 lg:mx-8">
          <div class="relative">
            
         
    </nav>
  </header><br><br>


  <% if(error.length>0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500 flash-message">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>
<% if(success.length>0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500 flash-message">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
    <% } %>


  <% if(cart.length === 0 ){ %>
    <br><br><br><br>
    <h1 style="font-size: xx-large;"><b>No items in cart Yet</b></h1>
  <% } else { %>
  <main>
    <div class="users-section">
      <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 28px;">Cart</h1>
      <div class="users-table">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <% cart.forEach(function(product){ %>
              <tr>
                <td>
                  <img src="data:image/jpeg;base64,<%= product.productid.image.toString('base64') %>" alt="Product Image">
                </td>
                <td><%= product.productid.name %></td>
                <td>₹ <%= product.productid.price %></td>
                <td><%= product.quantity %></td>
                <td><%= new Date(product.date).toLocaleString('en-IN', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true }) %></td>
                <td>
                  <form action="/addquantity/<%= product._id %>" >
                    <input type="hidden" name="productId" value="<%= product.productid._id %>">
                    <button type="submit" class="bg-green-500 text-white px-3 py-1 rounded-md">Add Quantity</button>
                  </form><br>
                  <form action="/reducequantity/<%= product._id %>" >
                    <input type="hidden" name="productId" value="<%= product.productid._id %>">
                    <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded-md">Reduce Quantity</button>
                  </form><br>
                  <form action="/removeitem/<%= product.productid._id %>" >
                    <input type="hidden" name="productId" value="<%= product.productid._id %>">
                    <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded-md">Remove Product</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% let total = 0; %>
    <% let totaldiscount = 0; %>

    <% cart.forEach(function(product){ %>
        <% 
            let sum = Number(product.productid.price) * Number(product.quantity); 
            let discountSum = Number(product.productid.discount) * Number(product.quantity);
            total += sum;
            totaldiscount += discountSum;
          %>
    <% }); %> 
    <div class="price-breakdown">
      <h3 class="text-xl font-bold">Price Breakdown</h3>
      <table>
        <tr>
          <th>Total MRP</th>
          <td>₹ <%= total %></td>
        </tr>
        <tr>
          <th>Discount on MRP</th>
          <td>₹ <%= totaldiscount %></td>
        </tr>
        <tr>
          <th>Platform Fee</th>
          <td>₹ 2</td>
        </tr>
        <tr>
          <th>Shipping Fee</th>
          <td>FREE</td>
        </tr>
        <tr>
          <th>Total Amount</th>
          <td class="font-semibold text-xl text-green-600">₹ <%= total - totaldiscount + 2 %></td>
        </tr>
      </table>
      <form action="/pay/<%= total - totaldiscount + 2 %>" method="post">
        <button class="w-full text-xl bg-blue-500 rounded-md mt-4 p-2 text-white">Place Order</button>
      </form>
    </div>
  </main>
  <% } %>
  
  <%- include('./partials/footer') %>
</body>
</html>
