<%- include('./partials/header') %>
<% if(error.length>0){ %>
  <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500 flash-message">
      <span class="inline-block mt-1 mb-1 text-white">
          <%= error %>
      </span>
  </div>
<% } %>
<% if(success.length>0){ %>
  <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-green-500 flash-message">
      <span class="inline-block mt-1 mb-1 text-white">
          <%= success %>
      </span>
  </div>
  <% } %>
<br><br><br>
<h1 style="font-size: xx-large;" ><b>CART</b></h1><br>
<div class="y-5 flex flex-wrap items-start gap-5">
  <% if(cart.length === 0 ){ %>
    <div class="w-60">
      <h1 style="font-size: xx-large;" ><b>No Items In Cart</b></h1>
    </div>
  <% } else { %>
    <% cart.forEach(function(product){ %>
      
        <div class="w-60">
          <div class="w-full h-52 flex items-center justify-center bg-[<%= product.productid.bgcolor %>]">
            <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.productid.image.toString('base64') %>" alt="">
          </div>
          <div class="flex justify-between bg-[<%= product.productid.panelcolor %>] items-center px-4 py-4">
            <div>
              <h3 class="text-[<%= product.productid.textcolor %>]"><%= product.productid.name %></h3>
              <h4 class="text-[<%= product.productid.textcolor %>]">₹ <%= product.productid.price %></h4>
            </div>
            <div class="flex items-center gap-2">
                <a href="/addquantity/<%= product._id %>"><i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"></i></a>
                <div class="px-2 py-1 rounded-md bg-white text-black"><%= product.quantity %></div>
               <a href="/reducequantity/<%= product._id %>"> <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"></i></a>
            </div>
          </div>
        </div>
    <% }) %>
    
  </div>
  
  



<br><br><br>
              <% let total = 0; %>
              <% let totaldiscount = 0; %>

              <% cart.forEach(function(product){ %>
                  <% 
                      let sum = Number(product.productid.price) * Number(product.quantity); 
                      let discountSum = Number(product.productid.discount) * Number(product.quantity);
                      total += sum;
                      totaldiscount += discountSum;
                  %>
              <% }); %>
              <div class="w-[70%]">
                <h3 class="text-xl">Price Breakdown</h3>
                <div class="px-10 mt-5">
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Total MRP</h4>
                        <h4>₹ <%= total %></h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Discount on MRP</h4>
                        <h4>₹ <%= totaldiscount %></h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Platform Fee</h4>
                        <h4>₹ 20</h4>
                    </div>
                    <div class="flex mt-2">
                        <h4 class="w-1/3">Shipping Fee</h4>
                        <h4>FREE</h4>
                    </div>
                </div>
                <div class="w-full h-[1px] bg-black mt-10"></div>
                <div class="flex mt-5">
                    <h3 class="w-1/3 text-xl">Total Amount</h3>
                    <h3 class="font-semibold text-xl text-green-600"><%= total - totaldiscount + 20 %></h3>
                </div>
                
              <form action="/addtoorders/">
                <button class="w-1/3 text-xl bg-blue-500 rounded-md ml-4">place order</button>
              </form>
              <% }%>
        </div>
    </div>
    <%- include('./partials/footer') %>